<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="configurationItems">
            <h2><span>Configuration Items</span> {{configurationItems.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Config Enabled</span></dt>
                <dd>
                    <span>{{configurationItems.configEnabled}}</span>
                </dd>
                <dt><span>Config Type Code</span></dt>
                <dd>
                    <span>{{configurationItems.configTypeCode}}</span>
                </dd>
                <dt><span>Config Parameter</span></dt>
                <dd>
                    <span>{{configurationItems.configParameter}}</span>
                </dd>
                <dt><span>Core Config</span></dt>
                <dd>
                    <div *ngIf="configurationItems.coreConfig">
                        <a [routerLink]="['/core-configuration-items', configurationItems.coreConfig?.id, 'view']">{{configurationItems.coreConfig?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/configuration-items', configurationItems.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
